@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
    text-shadow: 0 0 15px #b74b4b;
}

@media(max-width:995px){
    header{
        flex-direction: column;
        padding: 2rem;
        background-color: black;
        position: relative;
    }

    nav{
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        border: none;
        padding: 1rem 0;
        background-color: transparent;
    }

    nav a{
        display: inline-block;
        font-size: 1.8rem;
        margin: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid transparent;
    }

    nav a:hover,
    nav a.active{
        border-bottom-color: #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: clamp(3rem, 5vw + 1rem, 6rem);
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 15s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Photographer";
    }
    81%, 100%{
        content: "Videographer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

.contact h2{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 4.5rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(211, 189, 189);
    background: transparent;
    border-radius: 0.8rem;
    margin: 0.7rem 0;
    border: 0.2rem solid #b74b4b;
    transition: 0.3s ease;
}

.contact form .input-box input:focus,
.contact form .input-box input:hover,
.contact form textarea:focus,
.contact form textarea:hover{
    box-shadow: 0 0 15px #b74b4b;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.services-box{
    text-align: left;
    margin: 2rem 0;
    color: white;
    font-size: 1.6rem;
}

.services-box h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #b74b4b;
}

.checkbox-group{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.checkbox-group label{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkbox-group input[type="checkbox"]{
    appearance: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 0.2rem solid #b74b4b;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.checkbox-group input[type="checkbox"]:hover{
    box-shadow: 0 0 10px #b74b4b;
}

.checkbox-group input[type="checkbox"]:checked{
    background-color: #b74b4b;
    box-shadow: 0 0 10px #b74b4b;
}

.checkbox-group input[type="checkbox"]:checked::after{
    content: '';
    width: 0.5rem;
    height: 1rem;
    border: solid black;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg) translate(0, -0.2rem);
}

@media (max-width: 995px){
    .contact form .input-box input{
        width: 100%;
    }
}

/* Services Section */
.services h2, .skills h2, .education h2, .experience h2{
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4.5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-box{
    flex: 1 1 30rem;
    background: #161616;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #b74b4b;
    transition: .5s ease;
}

.service-box:hover{
    border-color: white;
    transform: scale(1.02);
    box-shadow: 0 0 25px #b74b4b;
}

.service-box i{
    font-size: 5rem;
    color: #b74b4b;
}

.service-box h3{
    font-size: 2.6rem;
    margin: 1rem 0;
}

.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* Skills Section */
.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill-box{
    flex: 1 1 40rem;
    background: #161616;
    padding: 3rem 2rem;
    border-radius: 2rem;
    border: .2rem solid #b74b4b;
    width: 100%;
    max-width: 600px;
}

.progress{
    padding: 1rem 0;
}

.progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.progress .bar{
    height: 2.5rem;
    border-radius: 1rem;
    border: 2px solid #b74b4b;
    padding: .5rem;
    margin: 1rem 0;
}

.progress .bar span{
    display: block;
    height: 100%;
    border-radius: 1rem;
    background: #b74b4b;
}

/* Timeline (Education & Experience) */
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #b74b4b;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b, 0 0 50px #b74b4b;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: #161616;
    border: 3px solid #b74b4b;
    padding: 30px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #b74b4b;
    cursor: pointer;
    transition: 0.3s ease;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #b74b4b;
}

.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

@media(max-width: 768px){
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
}
